---
servicename: son-catalogue
environment: development
address: 0.0.0.0
port: 4011
max_conns: 1024
timeout: 30
max_persistent_conns: 512
daemonize: false

logstash_host: logstash_ip
logstash_port: 5229

nsd_validator: http://localhost:4015
vnfd_validator: http://localhost:4570
gk: http://localhost:8000

service_key: b12d3d96-3454-4744-9b2c-231f33b66a3e
